[[local|localrc]]
RECLONE=True
HOST_IP={{hostip}}
SERVICE_TOKEN=mytoken123
ADMIN_PASSWORD=openstack123
MYSQL_PASSWORD=mysql123
RABBIT_PASSWORD=rabbit123
SERVICE_PASSWORD=$ADMIN_PASSWORD
LOGFILE=$DEST/logs/stack.sh.log
LOGDAYS=2
disable_service n-net
disable_service c-api c-sch c-vol
enable_service q-svc q-agt q-dhcp q-l3 q-meta

#enable contrail plugin
enable_plugin contrail https://github.com/zioc/contrail-devstack-plugin.git
CONTRAIL_REPO=https://github.com/Juniper/contrail-vnc.git
CONTRAIL_BRANCH={{contrail_branch}}